@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LakmeProducts</title>
</head>
<body style="background-color: aqua;">
    <div style="text-align: center; color: blue; font-size:larger"><marquee> Welcome to Lakme world </marquee></div>
    <div style="float: left;"><img src="https://www.google.com/search?q=lakme+products&biw=1024&bih=676&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjux5aGy9bKAhXDTCYKHaBIA0AQ_AUIBigB#imgrc=Ezo-c9I_fM-CuM%3A" alt="Product1" /></div>
    <div style="float: left;"><img src="https://www.google.com/search?q=lakme+products&biw=1024&bih=676&tbm=isch&source=lnms&sa=X&ved=0ahUKEwjeuLKxy9bKAhVEWCYKHR29BwkQ_AUIBigB&dpr=1#imgrc=e-iZ4bugR0Qf7M%3A" alt="Product1" /></div>
    <div style="clear:both;"></div>
    <div>
        <div id="btnBack"></div>
        <script src="https://fb.me/react-0.14.0.min.js"></script>
        <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
        <script src="@Url.Content("~/Scripts/ReturnHomePage.jsx")"></script>
    </div>
</body>
</html>
