@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnPageLoad</title>
</head>
<body style="background-color:aqua;">
    <div style="text-align: center; color: blue; font-size:larger"><marquee> Welcome to Online Shopping Portal </marquee></div>
    <div id="body" style="text-align:center;">
        <script src="https://fb.me/react-0.14.0.min.js"></script>
        <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
        <script src="@Url.Content("~/Scripts/Product.jsx")"></script>
    </div>
</body>
</html>
